h1 {
  font-family: "Times New Roman";
  text-align: center;
  width: 90%;
  margin: 0.5em auto;
  color: #f4f3f1;
  font-size: 2em;
  text-shadow:  2px 2px #e0b83e, 
                3px 3px #7f9626,
                4px 4px #bd4030;
  background-color: #36173b;
}

#search-div {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-gap: 0.5em;
}

#search-div button, #buttons button {
  background-color: #45aee7;
  border: 1px double;
  font-size: 1em;
  box-shadow: 3px 3px 1px 0.1px #ccc;
}

#search-bar::placeholder {
  text-align: center;
  font-size: 1.5rem;
  color: #ccc
}

#search-bar {
  font-size: 2rem;
  text-align: center;
  margin-left: 0.5em;
  box-shadow: 3px 3px 1px 0.1px #ccc;
}

#search-div button {
  margin-right: 0.5em
}

#advanced-search {
  display: grid;
}

#form legend {
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: center
}

#buttons button {
  margin: 1em
}

#fields {
  display: flex;
  justify-content: center
}

.title, .author, .subject {
  margin: 1em;
}

.title input, .author input, .subject input {
  box-shadow: 3px 3px 1px 0.1px #ccc;
}

#books {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}

.book {
  flex: 1;
  border: 0.5px solid;
  display: grid;
  margin-bottom: 0.5em;
  width: 90%
}

.book:hover {
  box-shadow: 3px 3px 10px 5px #ccc;
}

.book a {
  text-decoration: none;
}

.book-title {
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Times";
  font-size: 1.5em;
  color: #109ad7;
}

.book-title,.authors, .subjects {
  width: 100%;
  overflow: auto;
}

.authors {
  list-style-type: none;
  display: flex;
  justify-content: center;
  height: 4em;
  padding-left: 0;
  overflow: auto;
  margin: 0;
  height: 30%;
  font-family: "helvetica";
  color: #000
}

.subjects {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  height: 4em;
  overflow: auto;
  margin: 0;
  font-family: "courier", "monospace"
}

#books p {
  text-align: center;
  /*border: solid;
  background-color: #f5bb16;*/
  color: #cd2325;
  width: 80%;
  margin: 1em auto;
  font-family: "monospace"
}

.subject span {
  background-color: #edb426;
  color: #1d150a;
  padding: 0.2em
}

#spinner {
  box-sizing: border-box;
  height: 1rem;
  margin-bottom: -1rem;
}

@keyframes loading {
  from { background-position: -70px; }
  to { background-position: 0px; }
}

.spinning {
  background-color: blue;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
